In [3]:
import pandas as pd

In [4]:
file_path = "../processed_tables_clean/Table_1_Children_and_youth_who_visited_the_emergency_department_for_mental_disorders_by_provinceterr.csv"

In [5]:
df = pd.read_csv(file_path)

In [6]:
df.head()

,Province/territory,2018–2019 N,2018–2019 Rate,2019–2020 N,2019–2020 Rate,2020–2021 N,2020–2021 Rate,2021–2022 N,2021–2022 Rate,2022–2023 N,2022–2023 Rate,2023–2024 N,2023–2024 Rate
0,Quebec,27325,1501,25729,1396,20604,1108,24175,1307,22683,1208,20520,1064
1,Ontario,54514,1598,51589,1497,40474,1174,46080,1355,42060,1204,38457,1064
2,Alberta,17593,1657,17150,1594,15259,1403,16589,1520,14754,1322,13999,1204
3,Yukon,293,3310,288,3224,234,2566,265,2827,244,2512,222,2232
4,Total,99725,1582,94756,1487,76571,1196,87109,1371,79741,1227,73198,1090

In [7]:
# Reshape to long format, split year and metric, pivot, cast types, and save
df_melt = df.melt(id_vars=['Province/territory'], var_name='year_metric', value_name='value')
# Split '2018–2019 N' -> ['2018–2019','N']
df_melt[['year','metric']] = df_melt['year_metric'].str.rsplit(n=1, pat=' ', expand=True)
# Normalize en-dash to hyphen for consistency
df_melt['year'] = df_melt['year'].str.replace('–','-', regex=False)
# Pivot so each row is Province x Year with columns N and Rate
df_long = df_melt.pivot_table(index=['Province/territory','year'], columns='metric', values='value').reset_index()
df_long.columns.name = None
# Rename for clarity
df_long = df_long.rename(columns={'Province/territory': 'Province'})
# Convert types: N -> integer (nullable), Rate -> numeric
df_long['N'] = pd.to_numeric(df_long['N'], errors='coerce').astype('Int64')
df_long['Rate'] = pd.to_numeric(df_long['Rate'], errors='coerce').astype('float')
# Save flattened CSV for visualization
out_path = '../output/Table_1_Children_and_youth_who_visited_the_emergency_department_for_mental_disorders_by_provinceterr_flat.csv'
df_long.to_csv(out_path, index=False)
# Show a preview and dtypes
print('Saved flattened CSV to:', out_path)
df_long.head()
df_long.dtypes

Saved flattened CSV to: ../output/Table_1_Children_and_youth_who_visited_the_emergency_department_for_mental_disorders_by_provinceterr_flat.csv

Province     object
year         object
N             Int64
Rate        float64
dtype: object